<template>
  <div class="p-3 flex relative w-full flex-wrap align-content-start">
    <div class="w-full relative">
      <div class="transition block">
        <a
          :href="props.data.uri ? props.data.uri : 'https://www.pricetravel.com'"
          class="relative flex no-underline flex-column flex-wrap-reverse justify-content-between justify-content-between wmk-item-container"
        >
          <img
            class="img-bg absolute h-full w-full z-0 max-w-full"
            :src="Dimg.url"
            alt=""
          />
          <div class="px-4 py-2 relative w-full z-1">
            <div
              :style="getColor(props.c_text_promotion)"
              style="text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important"
              class="relative z-1 block"
            >
                <!-- <span class="text-xl m-0">{{ props.data.description }}</span> -->
              <span style="text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important" class="text-xl m-0 p-0" v-html="props.data.description"></span>
             <!--  <span>Hasta</span>
              <h5 class="text-2xl m-0 font-bold"><b> 55%</b></h5>
              <span>de descuento</span> -->
            </div>
          </div>
          <div class="px-4 py-2 block relative w-full z-1">
            <div
              :style="getColor(props.c_text_pla)"
              style="display: -ms-flexbox"
              class="flex"
            > 
              <div v-if="props.data.name"
                :style="getBackground(props.c_pla_principal)"
                class="border-round-2xl ml-auto px-4 h-100 align-items-center flex vmk-ribbon"
              >
              <span>{{ props.data.name ? props.data.name : '' }}</span>
               <!--  <span class="vmk-text-shadow"
                  >Destinos
                  <span class="vmk-text-shadow vmk-strong">Internacionales</span></span
                > -->
               <!--  <span class="hidden">
                  <img
                    class="img-icon bottom-0 bg-white p-2 absolute m-auto top-0"
                    decoding="async"
                    src="http://www.pricetravel.com/ofertas-de-viajes/wp-content/uploads/2022/08/icon-world.svg"
                  />
                </span> -->
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
export interface WgDestinos {
  data: any;
  c_pla_principal: string;
  c_text_pla: string;
  c_text_promotion: string;
}

interface IImg {
  id: number;
  url: string;
}
class Image implements IImg {
  id: number;
  url: string;
  constructor() {
    this.id = 0;
    this.url =
      "https://images.pexels.com/photos/3935702/pexels-photo-3935702.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1";
  }
}

const props = defineProps<WgDestinos>();

let Dimg = props.data.image ? props.data.image : new Image();

const getBackground = (property: any) => {
  if (property) {
    return {
      backgroundColor: "#" + property + " !important",
    };
  }
};

const getColor = (property: any) => {
  if (property) {
    return {
      Color: "#" + property + "!important",
    };
  }
};
</script>
<style scoped>
.img-icon {
  border-radius: 50px;
  height: 36px;
  padding: 8px;
  right: 20px;
  width: 36px;
}
.vmk-ribbon {
  background-color: transparent;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 50px;
  font-size: 18px;
  line-height: 1;
  padding: 0 40px 0 15px;
  height: 38px;
  -ms-flex-align: center;
}
.img-bg {
  -o-object-fit: cover;
  object-fit: cover;
}
.wmk-item-container {
  border-radius: 10px;
  display: -ms-flexbox;
  height: 230px;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
.wmk-item-container:before {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  content: "";
  z-index: 1;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
</style>
