<template>
  <div class="mb-2 mx-4">
    <div class="flex mx-auto relative container">
      <div class="w-full relative flex">
        <div class="p-4 flex relative w-full flex-wrap align-content-start">
          <div class="w-full relative">
            <a class="no-underline b-container mx-auto my-4" href="">
              <div class="grid b-row flex-wrap overflow-hidden relative">
                <div class="wmk-img-icon z-3 absolute m-auto top-0 bottom-0">
                  <div class="relative">
                    <font-awesome-icon
                      style="margin: 10px"
                      class="text-center text-2xl text-black-200"
                      icon="fa-solid fa-hotel"
                    />
                  </div>
                </div>
                <div class="col-6 md:col-4 px-0 relative">
                  <div
                    :style="getBackground(props.c_bg)"
                    class="wmk-bc-i-bg absolute left-card pr-6 h-full z-1"
                  >
                    <div v-if="props.data.message"
                      class="text-white px-2 text-lg text-center my-6 mx-auto"
                      v-html="props.data.message"
                    ></div>
                  </div>
                </div>
                <div class="col-6 relative md:col-8 wmk-bc-i-mask px-0">
                  <img class="wmk-img-bg" :src="props.data.image.url" />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
export interface WgDescabrazo {
  data: any;
  c_message: string;
  c_bg: string;
}
const props = defineProps<WgDescabrazo>();
const getBackground = (property: any) => {
  if (property) {
    return {
      backgroundColor: "#" + property + " !important",
    };
  }
};
</script>
<style scoped>
.wmk-bc-i-mask {
  -webkit-clip-path: ellipse(50% 140% at 62% 50%);
  clip-path: ellipse(50% 140% at 62% 50%);
  position: relative;
  z-index: 2;
}
.wmk-bc-i-bg {
  background-color: #ff0172;
  width: 140%;
}
.wmk-img-bg {
  height: 144px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  width: 100%;
}
.wmk-img-icon {
  background-color: #fff;
  border-radius: 50px;
  height: 45px;
  left: 40%;
  width: 45px;
}
.b-row {
  height: 144px;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 1200px) {
  .b-container {
    max-width: 1140px;
  }
 
}
@media (max-width: 992px) {
  .wmk-bc-i-mask {
    clip-path: ellipse(50% 76% at 61% 47%);
  }
}
@media (min-width: 992px) {
  .b-container {
    max-width: 960px;
  }
}
@media (max-width: 768px) {
  .wmk-bc-i-mask {
    clip-path: ellipse(50% 76% at 61% 47%);
  }.wmk-img-icon {
    left: 52%;
  }

}
@media (min-width: 768px) {
  .b-container {
    max-width: 728px;
  }
}
@media (max-width: 576px) {
  .wmk-bc-i-mask {
    clip-path: ellipse(50% 76% at 61% 47%);
  }
}
@media (min-width: 576px) {
  .b-container {
    max-width: 540px;
  }
}
</style>
