<template>
  <div class="justify-content-center mx-4 my-4 w-max">
    <Card class="border-black-400 wg-width-pq h-max relative">
      <template #header>
        <div
          v-bind:style="[
            props.c_pla_principal
              ? {
                  backgroundColor: '#' + props.c_pla_principal + '!important',
                }
              : {
                  backgroundColor: '#260430',
                },
          ]"
          class="discount absolute z-2 w-max border-round-3xl border-noround-left left-0 text-white my-3 px-3 p-2 flex"
        >
          Generic
          <!-- <div class="border-circle bg-white mr-2">
              <img src="@/assets/imgs/building.svg" alt="" />
            </div> -->
        </div>

        <div class="bg-img-wg relative">
          <div
            v-bind:style="[
              props.c_title_destination
                ? {
                    color: '#' + props.c_title_destination + '!important',
                  }
                : {
                    color: 'white',
                  },
            ]"
            class="absolute right-0 z-2 text-lg font-medium mx-4 my-2 bottom-0"
          >
            Hotel o Destino
          </div>
        </div>
      </template>
      <template #content>
        <div class="grid grid-nogutter">
          <div
            :style="[
              props.c_text_promotion
                ? { color: '#' + props.c_text_promotion + '!important' }
                : { color: '#4E4189' },
            ]"
            v-bind:style="[
              props.c_bg_promotion
                ? {
                    backgroundColor: '#' + props.c_bg_promotion + '!important',
                  }
                : {
                    backgroundColor: '#DCD9E7',
                  },
            ]"
            class="col-4 p-1 text-right text-purple-800"
          >
            <span class="text-sm font-light block">Hasta</span>
            <span class="line-through text-lg block font-bold">40%</span>
            <span class="text-sm font-medium block white-space-nowrap">de descuento</span>
          </div>
          <div class="col-8 p-1">
            <div class="grid grid-nogutter text-sm">
              <div class="col-12">
                <div class="border-bottom-500">Saliendo desde <b>Origen</b></div>
              </div>
              <div class="col-12">
                <div>Desde: <b>Mar 07 Feb 2023</b></div>
                <div class="border-bottom-500">Hasta: <b>Mar 14 Feb 2023</b></div>
              </div>
              <div class="col-12">
                <div>2 personas</div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </Card>
  </div>
</template>

<script setup lang="ts">
export interface WgPaquete {
  c_pla_principal: string;
  c_icons: string;
  c_title_destination: string;
  c_bg_promotion: string;
  c_text_promotion: string;
  c_text: string;
}
const props = defineProps<WgPaquete>();
</script>
<style scoped>

.border-bottom-500 {
  border-bottom: 1px solid black;
  width: fit-content;
}
.p-card .p-card-body {
  padding: 0;
}
.wg-width-pq {
  width: 295px;
  height: 277px;
}
.bg-img-wg {
  position: relative;
  width: auto;
  height: 156px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://campaign-cdn-v2.pricetravel.com/Colecci%C3%B3n%201-Arabia%20Saudita-PT-05122022.jpg");
}
</style>
