<template>
  <div class="p-3 flex relative w-full flex-wrap align-content-start">
    {{ props.c_stars }}
    <div style="border: 1px solid gray; border-radius: 16px;" class="w-full relative border-200">
      <div class="transition">
        <a href="/d" class="no-underline">
          <div class="overflow-hidden block">
            <div
              class="wmk-container flex flex-column flex-wrap-reverse relative justify-content-between"
            >
              <img
                class="img-bg absolute h-full top-0  border-round-top-2xl w-full z-0 max-w-full"
                :src="props.data.image"
                alt=""
              />
              <div
                style="text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important"
                class="text-white m-4 relative"
              >
                <div
                  :style="getBackground(props.c_pla_principal)"
                  class="vmk-ribbon"
                >
                  <span class="vmk-text-shadow">
                    <span class="vmk-text-lg">-50%</span>
                    <span> de descuento</span>
                  </span>
                  <div
                    style="height: 36px; width: 36px; margin-left: 20%"
                    class="bg-white border-circle absolute right-0"
                  >
                    <font-awesome-icon
                      style="padding: 0.6rem"
                      :style="getColor(props.c_icons)"
                      class="text-center"
                      icon="fa-solid fa-hotel"
                    />
                  </div>
                </div>
              </div>
              <div class="wmk-c-bottom text-white mx-2 mt-3 mb-0 relative">
                <div class="grid pl-2 relative">
                  <div class="col-6">
                    <div
                      :style="getColor(props.c_name_hotel)"
                      class="wmk-cb-hotel-name overflow-hidden font-semibold"
                    >
                      {{ props.data.name }}

                      
                    </div>
                    <div class="wmk-stars-hotel absolute top-3">
                      <span class="mb-2">
                        <Rating
                          class="stars"
                          :style="getColor(props.c_stars)"
                          :readonly="true"
                          :cancel="false"
                          :model-value="3"
                          :stars="5"
                        ></Rating>
                      </span>
                    </div>
                  </div>
                  <div class="col-6">
                    <span
                      :style="getColor(props.c_title_destination)"
                      class="wmk-cb-destino font-semibold text-2xl text-right my-2 absolute top-2 px-3 py-2 right-0"
                      >Cancún</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-white border-200 item-info border-round-bottom-2xl">
            <div class="grid grid-nogutter">
              <div
                style="padding: 10px 13px 5px"
                :style="getBackground(props.c_bg_promotion)"
                class="col-4 text-right py-4 bg-purple-400 block"
              >
                <span
                  :style="getColor(props.c_text_promotion)"
                  class="text-normal font-bold block"
                  >Desde</span
                >
                <span class="line-through text-gray-600 text-lg font-medium block">
                  $13,749
                </span>
                <span
                  :style="getColor(props.c_text_promotion)"
                  class="text-3xl font-bold block"
                >
                  $6,187</span
                >
              </div>
              <div style="padding: 10px 15px" class="col-8 p-1">
                <div class="grid m-auto">
                  <div class="col-2">
                    <font-awesome-icon
                      :style="getColor(props.c_icons)"
                      icon="fa-solid fa-bed"
                    />
                  </div>
                  <div class="col-10">
                    <div>
                      Desde:
                      <span :style="getColor(props.c_text)"
                        >Mie 1 Febrero</span
                      >
                    </div>
                    <div>
                      Hasta:
                      <span :style="getColor(props.c_text)"
                        >Dom 5 Febrero</span
                      >
                    </div>
                  </div>
                  <div class="m-0 p-0 col-12">
                    <hr />
                  </div>
                  <div class="col-2">
                    <font-awesome-icon
                      :style="getColor(props.c_icons)"
                      icon="fa-solid fa-user-group"
                    />
                  </div>
                  <div :style="getColor(props.c_text)" class="col-10">
                    2 personas
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
export interface WgHoteles {
  date_end:string;
  date_start:string;
  number_pax:string;
  data: any;
  c_pla_principal: string;
  c_icons: string;
  c_title_destination: string;
  c_bg_promotion: string;
  c_text_promotion: string;
  c_text: string;
  c_gradient: {};
  c_alpha: number;
  c_name_hotel: string;
  c_stars: string;
}
const props = defineProps<WgHoteles>();

const getBackground = (property: any) => {
  if (property) {
    return {
      backgroundColor: "#" + property + " !important",
    };
  }
};

const getColor = (property: any) => {
  if (property) {
    return {
      Color: "#" + property + "!important",
    };
  }
};
</script>
<style >
@media (max-width: 1025px) {
  .vmk-ribbon {
    margin-left: 20%;
    background-color: #fff !important;
  }
}
.wmk-c-bottom::before {
  background: rgba(
    v-bind("props.c_gradient.r"),
    v-bind("props.c_gradient.g"),
    v-bind("props.c_gradient.b"),
    v-bind("props.c_alpha")
  ) !important;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon{
  font-size: 15px;
  color: v-bind("props.c_stars") !important;
}
.p-rating .p-rating-item.p-rating-item-active .p-rating-icon {
  font-size: 15px;
  color: v-bind("props.c_stars") !important;
}
.icon-ribbon {
  background-color: #fff;
  border-radius: 50px;
  bottom: 0;
  height: 26px;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: -2px;
  top: -1px;
  width: 26px !important;
}
.item-info {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.wmk-cb-hotel-name {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.vmk-ribbon {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 50px;
  font-size: 18px;
  line-height: 1;
  margin-left: 28%;
  padding: 0 40px 0 15px;
  height: 38px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.vmk-ribbon img {
  background-color: #fff;
  bottom: 0;
  height: 38px;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 38px !important;
}
.wmk-c-bottom {
  color: #fff !important;
  z-index: 1;
  margin: 15px 15px 0;
  padding-bottom: 15px;
  position: relative;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
}
.wmk-c-bottom::before {
  content: "";
  background: rgba(46, 6, 117, 0.55);
  bottom: 0;
  left: -15px;
  position: absolute;
  right: -15px;
  top: 0;
}
.img-bg {
  -o-object-fit: cover;
  object-fit: cover;
}
.wmk-truncate {
  padding-left: 21px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.wmk-container {
  border-radius: 10px;
  height: 180px !important;
  -ms-flex-pack: justify;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}
</style>
