<template>
  <div class="p-3 flex relative w-full flex-wrap justify-content-center">
    <div style="border: 1px solid gray; border-radius: 16px" class="border-200 relative">
      <div class="transition">
        <a class="no-underline">
          <div class="overflow-hidden block">
            <div
              class="paquete-bg wmk-container flex flex-column flex-wrap-reverse relative justify-content-between"
            >
              <img
                class="img-bg absolute h-auto w-full z-0 max-w-full"
                src="https://www.pricetravel.com/ofertas-de-viajes/wp-content/uploads/2022/12/riu-palace-peninsula.jpg"
                alt=""
              />
              <div
                style="text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important"
                class="text-white my-4 mr-4 ml-0 relative z-2"
              >
                <div
                  :style="getBackground(props.c_pla_principal)"
                  class="vmk-ribbon relative"
                >
                  <div :style="getColor(props.c_text_pleca)" class="vmk-text-shadow">
                    Pleca principal
                  </div>
                  <div
                    class="bg-white border-circle absolute right-0 top-0 bottom-0 m-auto"
                  >
                    <font-awesome-icon
                      style="padding: 0.6rem"
                      :style="getColor(props.c_icons)"
                      class="text-center"
                      icon="fa-solid fa-hotel"
                    />
                  </div>
                </div>
              </div>
              <div class="wmk-c-bottom mx-2 my-2 relative text-right">
                <span
                  :style="getColor(props.c_title_destination)"
                  class="wmk-cb-hotel-name w-full font-semibold text-2xl pr-4"
                  >{{ props.data.name }}</span
                >
              </div>
            </div>
          </div>
          <div class="bg-white item-info">
            <div class="grid grid-nogutter">
              <div
                style="padding: 10px 13px 5px;     border-radius: 0px 0px 0px 16px;"
                :style="getBackground(props.c_bg_promotion)"
                class="col-4 text-right py-4 bg-purple-400 block"
              >
                <span
                  :style="getColor(props.c_text_promotion)"
                  class="text-normal font-bold block"
                  >Desde</span
                >
                <span class="line-through text-gray-600 text-lg font-medium block">
                  $13,749
                </span>
                <span
                  :style="getColor(props.c_text_promotion)"
                  class="text-3xl font-bold block"
                >
                  $6,187</span
                >
              </div>
              <div style="padding: 10px 15px" class="col-8 p-1">
                <div class="grid m-auto">
                  <div class="col-2">
                    <font-awesome-icon
                      :style="getColor(props.c_icons)"
                      icon="fa-solid fa-location-dot"
                    />
                  </div>
                  <div class="col-10">
                    <div>
                      Saliendo Desde:
                      <span :style="getColor(props.c_text)">Origen</span>
                    </div>
                  </div>
                  <div class="m-0 p-0 col-12">
                    <hr />
                  </div>
                  <div class="col-2">
                    <font-awesome-icon
                      :style="getColor(props.c_icons)"
                      icon="fa-solid fa-bed"
                    />
                  </div>
                  <div class="col-10">
                    <div>
                      Desde:
                      <span :style="getColor(props.c_text)">Mie 1 Febrero</span>
                    </div>
                    <div>
                      Hasta:
                      <span :style="getColor(props.c_text)">Dom 5 Febrero</span>
                    </div>
                  </div>
                  <div class="m-0 p-0 col-12">
                    <hr />
                  </div>
                  <div class="col-2">
                    <font-awesome-icon
                      :style="getColor(props.c_icons)"
                      icon="fa-solid fa-user-group"
                    />
                  </div>
                  <div :style="getColor(props.c_text)" class="col-10">
                    {{ props.number_pax }} {{ +props.number_pax > 1? 'personas': 'persona' }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
export interface WgPaquete {
  c_text_pleca:string;
  date_end: string;
  date_start: string;
  number_pax: string;
  data: any;
  c_pla_principal: string;
  c_icons: string;
  c_title_destination: string;
  c_bg_promotion: string;
  c_text_promotion: string;
  c_text: string;
}
const props = defineProps<WgPaquete>();

const getBackground = (property: any) => {
  if (property) {
    return {
      backgroundColor: "#" + property + " !important",
    };
  }
};

const getColor = (property: any) => {
  if (property) {
    return {
      Color: "#" + property + "!important",
    };
  }
};
</script>
<style scoped>

.icon-ribbon {
  background-color: #fff;
  border-radius: 50px;
  bottom: 0;
  height: 26px;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: -2px;
  top: -1px;
  width: 26px !important;
}
.item-info {
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  overflow: hidden;
}
.wmk-cb-hotel-name {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
}

.vmk-ribbon {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0px 50px 50px 0px;
  color: #fff;
  font-size: 18px;
  width: fit-content;
  line-height: 1;
  padding: 0 40px 0 15px;
  height: 38px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
}
.vmk-ribbon img {
  background-color: #fff;
  border-radius: 50px;
  bottom: 0;
  height: 38px;
  margin: auto;
  padding: 8px;
  position: absolute;
  right: -1px;
  top: -1px;
  width: 38px !important;
}
.wmk-c-bottom {
  color: #fff !important;
  z-index: 1;
  position: relative;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) !important;
}
.paquete-bg::before {
  content: "";
  height: auto;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  z-index: 1;
  background: rgba(46, 6, 117, 0.55);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.img-bg {
  border-radius: 16px 16px 0px 0px;

  -o-object-fit: cover;
  object-fit: cover;
}
.wmk-truncate {
  padding-left: 21px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}
.wmk-container {
  border-radius: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
  height: 210px;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  position: relative;
}
.bg-img-wg {
  position: relative;
  width: auto;
  height: 156px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("https://campaign-cdn-v2.pricetravel.com/Colecci%C3%B3n%201-Arabia%20Saudita-PT-05122022.jpg");
}
</style>
