@import "/node_modules/primeflex/primeflex.css";

@import url("https://fonts.googleapis.com/css?family=Inter");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

body {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: black !important;
  line-height: 24px;
  margin: 0;
  letter-spacing: 0.5px;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider,
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
  background: #4eb71c !important;
}

.router-link-exact-active {
  background-color: #586af5;
  border-radius: 10px !important;
}
.router-link-exact-active span {
  color: white;
}
.router-link-exact-active i {
  color: white;
}

.bg-bluept-500 {
  background-color: #586af5;
  color: white;
}
.bg-graypt-500 {
  background-color: #eaebf4 !important;
}
.p-float-label input:focus ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label {
  color: #000;
  top: 0 !important;
  background-color: white !important;
  font-size: 14px !important;
}
.titulo-destino {
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ced4da;
  line-height: 0.1em;
}

.titulo-destino span {
  background: #fff;
}
.float-label {
  display: inline;
  position: relative;
}
.float-label label {
  z-index: 1;
  color: #000;
  position: absolute;
  pointer-events: none;
  background: white;
  margin-top: -0.5rem;
  transition-property: all;
  transition-timing-function: ease;
  line-height: 1;
}
.float-label > label {
  left: 0.5rem;
  color: #6c757d;
  transition-duration: 0.2s;
}

.pi-upload:before {
  display: none;
}
.p-fileupload.p-fileupload-basic.p-component {
  padding-bottom: 8px;
  height: 100%;
}

.p-colorpicker-preview.p-inputtext {
  width: 30px !important;
  height: 30px !important;
}
.discount div > img {
  width: 30px;
  height: 30px;
  padding: 5px;
}
.discount div {
  width: 30px;
  height: 30px;
}
.text-shadow {
  text-shadow: 1px 1px 2px black;
}
.bg-blue-pt{
  background-color: #586af5 !important;
}


.pi-star:before{
  display: none;
}

/*MENU*/
.float-top.p-menu{
  min-width: fit-content !important;
  right: 0 !important;
  left: none;
}
.float-top.p-menu-overlay{
  right: 0 !important;
  left: unset !important;
}