<template>
  <div class="m-0">
    <div class="surface-section p-0 flex-auto border-round-lg">
      <!-- <div class="w-full bg-blue-landing justify-content-end flex">
        <div class="m-2">
          <Dropdown optionLabel="Revisado" placeholder="Revisado"></Dropdown>
        </div>
        <div class="m-2">
          <Button class="bg-purple-btn">Desactivar</Button>
        </div>
      </div> -->
      <div class="w-full bg-white-400 p-4 text-left ">
        <img src="https://static.cdnpth.com/img/logo_pt.png" alt="">
      </div>
      <div style="background: linear-gradient(92.91deg, #D6EAFD 11.73%, #566EEB 82.47%);" class="w-full h-auto p-5">
        <div class="container mx-auto mb-3">
          <div class="row">
            <div class="col-12 w-8 my-4 mx-auto mb-2 mt-4">
              <TabView >
                <TabPanel header="Hoteles">
                  <div class="grid">
                    <div class="field mb-4 col-12 md:col-12 lg:col-4">
                      <span class="p-float-label">
                        <InputText class="w-full" type="text" />
                        <label>Destino, Hotel, Punto de interés</label>
                      </span>
                    </div>
                    <div class="field mb-4 col-6 md:col-6 lg:col-2">
                      <span class="p-float-label">
                        <Calendar :showClear="true"> </Calendar>
                        <label>Llegada</label>
                      </span>
                    </div>
                    <div class="field mb-4  col-6 md:col-6 lg:col-2">
                      <span class="p-float-label">
                        <Calendar :showClear="true"> </Calendar>
                        <label>Salida</label>
                      </span>
                    </div>
                    <div class="field mb-4  col-6 md:col-6 lg:col-2">
                      <span class="p-float-label">
                        <InputText class="w-full" type="text" />
                        <label>Huespedes</label>
                      </span>
                    </div>
                    <div class="field mb-4  col-6 md:col-6 lg:col-2">
                      <span class="p-float-label">
                        <Button
                          class="w-full text-center justify-content-center border-pink-400 bg-pink-400"
                          >Buscar</Button
                        >
                      </span>
                    </div>
                  </div>
                </TabPanel>
                <TabPanel header="Vuelos"> Content II </TabPanel>
                <TabPanel header="Hotel + Vuelo"> Content III </TabPanel>
                <TabPanel header="Disney"> Content III </TabPanel>
              </TabView>
            </div>
          </div>
        </div>
      </div>
    </div>
    <slot></slot>
  </div>
</template>

<script setup lang="ts"></script>

<style>
.p-card .p-card-content {
  padding: 0;
}
.border-500 {
  background: #ffffff;
  border: 1px solid #ced4da !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
.bg-blue-landing {
  background-color: #1265e2;
}
</style>
