<template>
  <section class="mt-0 mb-0 my-2 py-4">
    <div class="grid grid-nogutter justify-content-center">
      <div
        class="col sm:col-12 md:col-12 lg:col-12 xl:col-12"
      >
        <WgDescabrazo
          :data="props.data"
          v-bind="props.data.styles"
          class=""
        ></WgDescabrazo>
      </div>
    </div>
  </section>
</template>
<script setup lang="ts">
import WgDescabrazo from "~~/components/widgets/WgDescabrazo.vue";
export interface IDescabrazos {
  data: any;
}
const props = defineProps<IDescabrazos>();
</script>

<style>
.border-500 {
  background: #ffffff;
  border: 1px solid #ced4da !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}
</style>
