<template>
  <section class="mt-0 my-2 p-0">
    <div class="flex mx-4">
          <h2 class="text-500 mx-2">{{ props.data.title_section}}</h2>
        </div>
    <div class="grid grid-nogutter justify-content-center">
      <div
        v-for="item in props.data.destinos"
        class="col sm:col-6 md:col-6 lg:col-4 xl:col-4"
      >
        <WgDestinos :data="item" v-bind="props.data.styles"></WgDestinos>
      </div>
    </div>
  </section>
</template>
<script setup lang="ts">
import WgDestinos from "~~/components/widgets/WgDestinos.vue";
export interface Destinos {
  data: any;
}
const props = defineProps<Destinos>();
</script>
<style></style>
