<template>
  <section class="mt-0 my-2 p-0">
        <div class="flex mx-4">
          <h2 class="text-500 ">{{ props.data.title_section}}</h2>
        </div>
        <div class="grid grid-nogutter justify-content-center">
          <div v-for="item in props.data.select_hotel" class=" col sm:col-6 md:col-6 lg:col-4 xl:col-4">
            <WgHoteles
              :data="item"
              v-bind="props.data.styles,props.data"
            ></WgHoteles>
          </div>
      </div>
  </section>
</template>
<script setup lang="ts">
import WgHoteles from "~~/components/widgets/WgHoteles.vue";
export interface Hoteles {
  data: any;
}
const props = defineProps<Hoteles>();
</script>
