<template>

<section class="mt-0 my-2 p-0">
        <div class="flex mx-4">
          <h2 class="text-500 ">{{ props.data.title_section}}</h2>
        </div>
        <div class="grid grid-nogutter justify-content-center">
          <div v-for="item in props.data.multi_select" class=" col sm:col-6 md:col-6 lg:col-4 xl:col-4">
            <WgPaquetes :data="item" v-bind="props.data.styles,props.data" class="mx-auto my-4"></WgPaquetes>
          </div>
      </div>
  </section>
</template>

<script setup lang="ts">
import WgPaquetes from "~~/components/widgets/WgPaquetes.vue";

export interface Paquetes {
  data:any;
}
const props = defineProps<Paquetes>();
</script>
