<template>
  <div v-if="landingSettings && landingh" v-html="landingSettings.header"></div>
  <div v-if="landingClient" class="container">
    <div v-for="item in landingClient.content">
      <component :data="item.data" :is="item.type"></component>
    </div>
  </div>

  <div v-if="landingSettings && landingh" v-html="landingSettings.footer"></div>
</template>
<script setup lang="ts">
import Destinos from "~~/components/content/Destinos.vue";
import Hoteles from "~~/components/content/Hoteles.vue";
import Paquetes from "~~/components/content/Paquetes.vue";
import Descabrazos from "~~/components/content/Descabrazos.vue";
import ILanding from "~~/interfaces/ILanding";
import ILandingSettings from "~~/interfaces/ILandingSettings";

import localData from "~~/services/internalDataService";
const route = useRoute();
var landing: ILanding;
var landingClient: ILanding;
var landingSettings: ILandingSettings;
var landingh = false;
if (process.server) {
  let request: object;
  const headers = useRequestHeaders(["host"]);
  try {
    let path = route.path.replace("/render", "");
    if (route.query.hostname) {
      request = { path, host: route.query.hostname };
    } else {
      request = { path, host: headers.host };
    }
    landing = await localData.getLanding(request);
    useState("landingId", () => landing?.id);
  } catch (error) {}
}
if (process.client) {
  landingClient = await localData.getPage(+useState("landingId").value);
  landingSettings = await localData.getPageSettings(+useState("landingId").value);
  useHead({
    title: landingClient.title,
    meta: [{ name: "description", content: "My amazing site." }],
    link: [
      {
        href: landingSettings.styleUrl,
        rel: "stylesheet",
      },
    ],
  });
}
</script>
<script lang="ts">
export default {
  components: {
    Destinos,
    Hoteles,
    Paquetes,
    Descabrazos,
  },
};
</script>
